.mode-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mode-select {
  width: 100%;
  max-width: 200px;
  margin-right: 10px;
}

.button {
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #0375d8;
  color: #ffffff;
  border: none;
}
